<h2>Total Parks Found: <%= ParksFacade.total_parks_found(@state) %></h2>

<% parks.each do |park| %>
<p>Park Name: <%= park.name %></p>
<p>Park Description: <%= park.description %></p>
<p>Park Direction Info: <%= park.direction_info %></p>
<p>Park Hours of Operation: <%= park.hours %></p>
<% end %>
